.clamp-3 {
   overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
}
.to-cyan-400 {
   --tw-gradient-to: #22d3ee;
}
.via-cyan-500 {
   --tw-gradient-stops: var(--tw-gradient-from), #06b6d4,
      var(--tw-gradient-to, rgba(6, 182, 212, 0));
}
